html,
body,
#root {
  height: 100%;
  color: white;
}

body {
  background: black;
  margin: 0;
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body::before {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "FILMS";
  font-size: 20vmin;
  color: rgba(255, 255, 255, 0.0);
  background: radial-gradient(rgb(10, 10, 10), black);
} */

#root {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}
